.new-person {
  margin: 20px auto;
  display: block;
  border: 1px solid #b0cdda;
  padding: 20px 0;
  border-radius: 4px;
  box-shadow: 0px 3px 5px rgba(92, 146, 171, 0.3);
}
.inp-txt-person {
  padding: 10px 20px;
  border: 1px solid #80a6b7;
  border-radius: 4px;
  font-size: 12px;
  outline: none;
  font-weight: 600;
  color: #346073;
}
.new-person span {
  float: right;
  padding: 20px;
  font-size: 22px;
  cursor: pointer;
}